*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/compiler.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/migrations.xml
/.idea/misc.xml
/.idea/other.xml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/androidTestResultsUserPreferences.xml
/.safedk
/.idea/runConfigurations.xml
/app/release
/.env
